html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 30%;
  margin: 0 auto;
}

.container:hover .plus {
  opacity: 1;
}

.container:hover .meme__label {
  color: rgb(187, 11, 211);
}

.title {
  text-align: center;
}

.meme__container {
  position: relative;
}

.meme__container:hover .meme__label {
  background-color: rgb(89, 216, 255);
}

.meme__container:hover .plus {
  transform: rotateZ(45deg);
}

.meme__container:hover .meme__img {
  width: 100%;
  transform: scale(1);
}

.meme__label {
  z-index: 100;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid rgb(141, 173, 255);
}

.meme__input {
  display: none;
}

.meme__input:checked ~ .meme__label {
  background-color: rgb(89, 216, 255);
}

.meme__input:checked ~ .meme__img {
  width: 100%;
  transform: scale(1);
}

.meme__input:checked ~ .plus {
  transform: rotateZ(45deg);
}

.plus {
  position: absolute;
  top: 0;
  right: 2%;
  height: 40px;
  transform: rotateZ(0deg);
  opacity: 0;
  transition: transform 0.2s;
}

.meme__img {
  transform: scale(0);
  width: 0%;
  transition: transform 0.1s;
}

@media (max-width: 1180px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 568px) {
  .container {
    width: 75%;
  }
}